*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

body{
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-block: 40px;
}

header{
    width: 100%;
    max-width: 800px;
    text-align: center;
}

header h1{
    color: #716e6e;
}

header form .search-container{

margin-top: 20px;
position: relative;
}
header form .search-container input{
    width:100%;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 20px;
    border: none;
    background: #eee;
}

 header form .search-container .material-symbols-outlined{
   position: absolute;
   right: 10px;
   bottom: 12px;
   color:#777;
   cursor:pointer;
 }
 .images-container{
    margin-block: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
 }

 .images-container img{
    width: 300px;
    height: 280px;
 }
 .images-container .imageDiv{
    position: relative;
 }
 .images-container .overlay{
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    height: 0;
    background-color: rgba(0,0,0,0.7);
 }
 .imageDiv:hover .overlay{
    height: 100;
 }

@media screen and(max-width:920px){
    header{
        width: 80%;
    }
}
    

